@import "src/styles/variable";

:host {
  display: block;
  cursor: pointer;
}

:host([disabled]), :host([readonly]) {
  background-color: $disabled-color;
  cursor: default;
}

::slotted(*) {
  display: none;
}

.selector {
  margin-left: auto;

}

ul {
  position: relative;
  min-width: 200px;
  padding: 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  li {
    display: none;
    padding: 5px 0.375rem;
    min-width: 150px;

    &:first-child {
      display: flex;
      border-top: 0;
    }

    &:hover, &:focus, &.current {
      background-color: #ddd;
    }

    &:first-child:hover {
      background-color: transparent;
    }

    & > div {
      flex: 0 0 auto;

      & > p {
        padding: 0;
        margin: -2px 0px 0px 0px;
      }

      &:first-of-type {
        min-width: 2rem;
      }
    }
  }

  &.open li {
    display: flex;
  }
}
